name: Tests

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

env:
  FORCE_COLOR: "1"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  tests:
    timeout-minutes: 15
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        pyv: ['3.9', '3.10', '3.11', '3.12', '3.13']
        include:
        - {os: ubuntu-latest, pyv: 'pypy3.9'}

    steps:
    - name: Check out the repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up Python ${{ matrix.pyv }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.pyv }}
        cache: pip
        allow-prereleases: true
        cache-dependency-path: pyproject.toml

    - name: Upgrade pip and nox
      run: |
        python -m pip install --upgrade pip nox
        pip --version
        nox --version

    - name: Lint code
      run: nox -s lint

    - name: Run tests
      run: nox -s tests-${{ matrix.nox_pyv || matrix.pyv }} -- --cov-report=xml

    - name: Upload coverage report
      uses: codecov/codecov-action@v5.0.2

    - name: Run benchmarks
      run: nox -s bench

    - name: Build package
      run: nox -s build
